body
{
    margin: 0;
    --sizeOfDice: 10%;
}

h1
{
    font-family: Arial, sans-serif;
    margin: 0;
}

p
{
    font-family: Arial, sans-serif;
    margin: 0;
}

.header
{
    margin: 0;
    background: #9365a1;

}

.instruction
{
    padding-top: 10%;
    font-size: 30pt;
    text-align: center;
}

.placeOfDice
{
    background: yellow;
    padding: 2%;
    height: auto;
    width: auto;
    position: relative;
    text-align: center;
}

.scoreResults
{
    font-family: Arial, sans-serif;
}

.diceImg
{
    margin: 2% 0 2% 0;
    height: var(--sizeOfDice);
    width: var(--sizeOfDice);
}

.diceHolder
{
    width: 100%;
    background-color: red;
    margin: auto;
}

.diceA
{
    transform: rotate(var(--rollDeg));
    transition-duration: 1s;
}

.diceB
{
    transform: rotate(var(--rollDeg2));
    transition-duration: 0.4s;
}

.firstDice
{
    background: none;
    margin-right: 3%;
    --rollDeg: 0;

}

.secondDice
{
    background: none;
    --rollDeg2: 0;

}

.placeOfRoll
{
    background: pink;
    padding: 30px;
    padding-bottom: 50px;
}

.roll
{
    display: block;
    margin: 30px auto auto auto;
    width: 50%;
    background-color: darkorchid;
    color: purple;
    font-size: 20pt;
    border-width: 0;
    font-family: Arial, sans-serif;
}

.roll:hover
{
    color: hotpink;
    background-color:#45165c;
}

.roll:active
{
    color: red;
}

@media (max-width: 450px) {
    .firstDice
    {
        display: block;
        width: 20%;
        margin: auto;
    }

    .secondDice
    {
        display: block;
        width: 20%;
        margin: auto;
    }
}

