body
{
    margin: 0;
    font-family: Arial, sans-serif;
    --sizeOfDice: 10%;
    background-color: #AA7A9A;
}

h1
{
    font-family: Arial, sans-serif;
    margin: 0;
    text-shadow: 1px 1px #453455;
}

p
{
    font-family: Arial, sans-serif;
    margin: 0;
    font-size: 30px;
}

.header
{
    margin: 0;
    background: #9365a1;

}

.instruction
{
    padding-top: 20px;
    padding-bottom: 20px;
    size: 30pt;
    text-align: center;
    margin: auto;
    width: 50%;
}

.placeOfDice
{
    background: #ededdf;
    padding: 2%;
    height: auto;
    width: auto;
    position: relative;
    text-align: center;
}

.info
{
    display: inline-block;
}

.infoLine
{
    display: block;
    text-align: left;
    margin: auto;
    width: 30%;
}

.scoreResults
{
    font-family: Arial, sans-serif;
    display: inline-block;
    margin-right: 10%;
}

.sumResults
{
    font-family: Arial, sans-serif;
    display: inline-block;
}

.diceImg
{
    margin: 2% 0 2% 0;
    height: var(--sizeOfDice);
    width: var(--sizeOfDice);
}

.diceHolder
{
    width: 100%;
    margin: auto;
}

.diceA
{
    transform: rotate(var(--rollDeg));
    transition-duration: 1s;
}

.diceB
{
    transform: rotate(var(--rollDeg2));
    transition-duration: 0.4s;
}

.firstDice
{
    background: none;
    margin-right: 7%;
    --rollDeg: 0;

}

.secondDice
{
    background: none;
    --rollDeg2: 0;

}

.placeOfRoll
{
    background: #AA7A9A;
    padding:  30px 2% 50px 2%;
    margin: 0;
    width: 96%;
}

.roll
{
    display: block;
    margin: 30px auto 5px auto;
    width: 30%;
    background-color: #9365a1;
    color: purple;
    font-size: 40pt;
    border-width: 0;
    font-family: Arial, sans-serif;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    padding: 20px 0 20px 0;
    transition-duration: 0.4s;
}

.roll:hover
{
    color: hotpink;
    background-color:#45165c;
    transition-duration: 0.4s;
}

.roll:active
{
    color: red;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.selectStaticDynamic
{
    background-color: darkslateblue;
    border-width: 0;
    padding: 10px;
    float: left;
}

.selectStaticDynamic:hover
{
    color: white;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.selectStaticDynamic:active
{
    background-color:#9365a1;
}

.disabledSelect
{
    color: black;
}

.enabledSelect
{
    color: white;
}

@media (max-width: 450px) {
    .firstDice
    {
        display: block;
        width: 20%;
        margin: auto;
    }

    .secondDice
    {
        display: block;
        width: 20%;
        margin: auto;
    }
}

